.red{
    background-color: red;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 30px;
}

.green{
    background-color: green;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 30px;
}

.blue{
    background-color: blue;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 22px;

}
.yellow{
    background-color: rgb(173, 240, 40);
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 22px;
}

